*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
display: flex;
justify-content: space-around;
align-items: center;
flex-wrap: wrap;
padding: 1rem;
gap: 1rem;
height: 100vh;
margin: 0;
background-color: #F5F5DC;
font-family: Outfit, sans-serif;
}
canvas{
  display: none;
  border-radius: 20px;
  min-width: 400px;
  min-height: 400px;

  
}
.intro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.intro__name-input{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 4rem 0rem;
  gap: 1rem;

}
.name {
  border-radius: 10px;
  padding: 1rem;
  width: 20rem;
  font-family: "Outfit", sans-serif;
}
.button {
  padding: 0.8rem 1.6rem;
  border: none;
  font-family: "Outfit", sans-serif;
  border-radius: 20px;
  background-color: #ffa500;
  justify-content: center;
  transition-duration: 0.5s;
  line-height: 1.2rem;
  gap: 0.8rem;
  cursor: pointer;
}
.button:hover{
  box-shadow: 0px 0px 18px 0px #ffa500;
}
.intro__side-title{
  display: none;
  text-align: center;
  width: 14rem;
}
.leaderboard{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  align-items: center;
  width: 20rem;
  border-radius: 10px;
  background: #F9F6EE;
  box-shadow: 0px 0px 18px 0px #888;
}
.leaderboard li {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1rem;

}
.right-container{
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}